.logo {
  font-family: 'TT Travels';
  font-style: italic;
  font-weight: 800;
  line-height: 77px;
  /* identical to box height */

  text-transform: uppercase;
  color: #37DBFF;
  text-align: start;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: rgba(55, 219, 255, 0.15);
    filter: blur(30px);
    opacity: 0.9;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    filter: blur(30px);
    box-shadow: 0 0 40px 40px rgba(55, 219, 255, 0.15);
    z-index: -1;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 23%;
  //   width: 370px;
  //   height: 100px;
  //   filter: blur(50px);
  //   opacity: 100%;
  //   background: rgba(55, 219, 255, 0.25);
  // }
}

.text-sec {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
}

.italic-text {
  font-style: italic;
  font-weight: 800;
}

.italic-text-sec {
  font-style: italic;
  font-weight: 800;
}

.btn-std {
  width: 236px;
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  background: linear-gradient(92.57deg, #13A6C7 0%, rgba(12, 103, 239, 0.7) 100%);
  border-radius: 25px;
  padding: 10px 25px;
}

.text-subsecound {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.container-cat {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    filter: blur(74px);
    background: radial-gradient(ellipse at center, rgba(231, 215, 185, 0.2) 50%, rgba(231, 215, 185, 0.1) 80%, rgba(231, 215, 185, 0.1) 100%);
    opacity: 0.9;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    filter: blur(74px);
    box-shadow: 0 0 40px 40px rgba(231, 215, 185, 0.1);
    z-index: -1;
  }
}