  .nav-text {
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .Scrolled {
    // background: #16151bfa;
  }

  .fixed-nav {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 999;
    background: #fff;
  }

  .dark .fixed-nav {
    background: #16151bfa;
  }

  .burger-menu-color {
    background-color: rgb(22, 21, 27);
  }

  .nav-btn {
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    background: linear-gradient(92.57deg, #13A6C7 0%, rgba(12, 103, 239, 0.7) 100%);
    color: white;
    border-radius: 25px;
    padding: 7px 15px;
    transition: all 0.3s;

    &:hover {
      background: linear-gradient(92.57deg, #13a6c7e7 0%, rgba(12, 103, 239, 0.671) 100%);
    }
  }

  .logo-text {
    font-family: 'TT Travels';
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #37DBFF;
  }

  .number-text {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }

  a.active {
    border-bottom: 4px #37DBFF solid;
  }

  .burger-icon {
    width: 26px;
    height: 26px;
  }