.swiper-nav-btn {
  position: absolute;
  z-index: 999;
  bottom: 420px;
  left: 50%;
}

.swiper-btn-prev-self {
  top: -40px !important;
  left: -173px !important;
}

.swiper-btn-next-self {
  top: -40px !important;
  left: 148px !important;
}