.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}

.swiper-slide.swiper-slide-visible {
  opacity: 0.5;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 8 0%;
  object-fit: cover;
}

.swiper-slide-active {
  opacity: 1 !important;
}

.swiper {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 40px;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.employeess-btn {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  background: linear-gradient(92.57deg, #13A6C7 0%, rgba(12, 103, 239, 0.7) 100%);
  border: 0px transparent;
  &:hover {
    background: linear-gradient(92.57deg, #13a6c7e7 0%, rgba(12, 103, 239, 0.671) 100%);
  }
}

.employeess-review-btn {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  width: 200px;
  padding: 0px;
  background: linear-gradient(92.57deg, #368ae9 0%, rgba(15, 140, 224, 0.959) 100%);
  border: 0px transparent;

  &:hover {
    background: linear-gradient(92.57deg, #368ae9 0%, rgba(15, 182, 224, 0.7) 100%);
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.mask {
  cursor: auto;
}