@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.dark {
  background: #16151bfa;
}

.navigation {
  height: 100%;
}

html{
  overflow-y: scroll;
}

body {
  background-color: var(--my-color);
}

svg {
  fill: currentColor;
}

li {
  list-style-type: none;
}

@layer components {
  .Montserrat {
    font-family: 'Montserrat';
  }
}