@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.dark {
  background: #16151bfa;
}

.navigation {
  height: 100%;
}

html{
  overflow-y: scroll;
}

body {
  background-color: var(--my-color);
}

svg {
  fill: currentColor;
}

li {
  list-style-type: none;
}

@layer components {
  .Montserrat {
    font-family: 'Montserrat';
  }

  .text-corporative {
    color: linear-gradient(92.57deg, #13A6C7 0%, rgba(12, 103, 239, 0.7) 100%);
    ;
  }
}